@import "./../../_globals";

#name {
    width: 275px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
}

#description {
    width: 325px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
}

#difficulty {
    width: 40px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
}

#courseCheckbox {
    width: 100%;
    height: 25px;
    font-size: 16px;
}

.content { 

    &__section { 
        @include display-flex();
        flex-flow: column nowrap;
        font-size: 16px;
    }

    &__caption {
        padding-top:15px;
        padding-bottom:10px;
        color: $accent-color;
    }

    &__caption button {
        margin-left: 47px;
    }
}